*{
  margin: 0;
}
body{
  box-sizing: border-box;
  background: url(img/bg.png);
  background-repeat: no-repeat;
	background-size:100%;
  background-attachment:scroll;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.logo{
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;
}
a{
  text-decoration: none;
}
.navbar{
  display: flex;
  margin-left: 30px;
  margin-top: 40px;
}
.navbar a{
  color: #f5f5f5;
  height: 30px;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  margin: 15px;
  border-radius: 4px;
}
.navbar a:hover{
  color: #E9BD8C;
}
section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px;
  margin-top: 60px;
  margin-right: 55%;
  margin-bottom: 40px;
  font-weight: 600;
}
section p:first-child{
  color: #f5f5f5;
  font-family: "Sansita Swashed", system-ui;
  font-size: 74px;
  font-weight: 400;
}
section p{
  color: #f5f5f5;
  font-size: 25px;
  font-weight: 200;
  margin: 5px;
  text-align: center;
}
.btn{
  display: inline-block;
  font-size: 24px;
  color:#f5f5f5;
  background-color: #933C24;
  padding: 15px 80px;
  margin-top: 50px;
  border-radius: 10px;
}
.btn:hover{
  color:#933C24;
  background-color: #f5f5f5;
}
.link{
  color:#E9BD8C;
  font-size: 24px;
  padding: 15px 20px;
  font-weight: 400;
}
.link:hover{
  color:#f5f5f5;
}
footer {
  width: 1478px;
  height: 622px;
  background-image: url(img/bg4.png);
  background-repeat: no-repeat;
	background-size: 100%;
  background-attachment: scroll;
}
.top {
  display: grid;
  text-align: center;
  grid-template-columns: auto auto;
  column-gap: 50px;
  padding: 30px 120px;
  font-size: 24px;
  font-weight: 500;
  border-bottom: 1.5px solid #E9BD8C;
}
.top img {
  width: 121.08px;
  height: 121.08px;
}
.icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 70px;
}
.icon p {
  color: #E9BD8C;
  font-size: 24px;
}
.img img  {
  width: 42.12px;
  height: 42.12px;
  padding-left: 20px;
  gap: 10px;
}
.fcontent {
  display: flex;
}
.about {
  margin-left: 120px;
  margin-top: 50px;
  color: #f5f5f5;
}
.about:nth-child(2){
  margin-left: 100px;
}
.about:last-child{
  margin-left: 360px;
}
.about p{
  font-size: 22px;
}
.about .title {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: #E9BD8C;
}
.fimg {
  display: flex;
  width: 500px;
}
.fimg img{
  margin-top: 5px;
  margin-right: 25px;
  width: 100px;
  height: 67px;
}
.ftxt{
  padding-top: 0px;
}
.ftxt p:first-child {
  font-size: 12px;
  color:#E9BD8C;
  font-weight: 200;
  margin-top: 1px;
  margin-bottom: 1px;
}
.ftxt p:last-child {
  font-size: 24px;
  font-weight: 500;
  margin-top: 0px;
}
span p{
  margin-top: 100px;
  color: #5d5d5d;
  font-size: 18px;
  text-align: center;
}